html {
  line-height: inherit;
  box-sizing: border-box;
}

article h1 {
  font-weight: normal;
}

article header p {
  font-style: italic;
  font-size: 1.125rem;
}

blockquote .quote {
  font-size: 1em;
  color: #555;
}
